<div class="ui raised segment grid task-item" ng-class="{'blue': hover}"
     ng-mouseenter="hover = true" ng-mouseleave="hover = false">

    <div class="ten wide column" ui-sref="task.description({id: task.id})">
        <h3 class="ui header">
            <a class="ui red ribbon label"></a>
            <div class="content">
                {{task.name}}
                <div class="sub header description"><p  ta-bind ng-model="task.description" ></p></div>
            </div>
        </h3>
        <a class="header"></a>
    </div>
    <div class="one wide column middle aligned content">
        <img class="ui mini circular image" ng-src="{{task.assignee.avatar}}"
             onerror="this.src='img/default.png'">
    </div>
    <div class="three wide column middle aligned content">
        <div class="ui fluid calendar" id="dueDate">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input ng-model="task.endDate" type="text" placeholder="Date">
            </div>
        </div>
    </div>
    <div class="two wide column middle aligned content">
        <div data-value="{{task.status}}" class="ui fluid dropdown button task-status" ng-class="buttonColor">
            <span class="text">{{task.statusLabel}}</span>
            <div class="menu">
                <div data-value="BACKLOG" class="gray item">
                    Pending
                </div>
                <div data-value="IN_PROGRESS" class="blue item">
                    Started
                </div>
                <div data-value="DONE" class="green item">
                    Completed
                </div>
                <div data-value="OBSOLETE" class="red item">
                    Obsolete
                </div>
            </div>
        </div>
    </div>
</div>
