<div class="main-header ui fixed inverted menu" ng-init="init()">
    <div class="ui container">
        <a ui-sref="home" class="header item">
            <img class="logo" src="img/Lima-Quickie-Logo.png">
            <span style="padding-left: 5px;">Project</span>
        </a>
        <a ui-sref="user.tasks({id:user.id})" class="item">My Task</a>

        <div class="right menu">
            <!--<a class="toc item">
                <i class="sidebar icon"></i>
            </a>-->
            <div class="item">
                <a class="ui label">
                    <img src="img/{{user.avatar}}">
                    {{user.name}}
                </a>
            </div>
        </div>
    </div>
</div>
