<div class="main-header ui fixed inverted menu" ng-init="init()">
    <div class="ui container">
        <a class="msb item">
            <i class="sidebar icon"></i>
        </a>
        <a ui-sref="home" class="item">Project</a>
        <a ui-sref="user.tasks({id:user.id})" class="item">My Task</a>

        <div class="right menu">
            <!--<a class="toc item">
                <i class="sidebar icon"></i>
            </a>-->
            <div class="item">
                <a class="ui label">
                    <img src="img/{{user.avatar}}">
                    {{user.name}}
                </a>
            </div>
        </div>
    </div>
</div>