<div class="main-header ui fixed inverted menu">
    <div class="ui container">
        <a class="msb item">
            <i class="sidebar icon"></i>
        </a>
        <a ui-sref="home" class="item">Project</a>
        <a ui-sref="tasks" class="item">My Task</a>

        <!--<div class="ui simple dropdown item">-->
            <!--Dropdown <i class="dropdown icon"></i>-->
            <!--<div class="left menu">-->
                <!--<a class="item" href="#">Link Item</a>-->
                <!--<a class="item" href="#">Link Item</a>-->
                <!--<div class="divider"></div>-->
                <!--<div class="header">Header Item</div>-->
                <!--<div class="item">-->
                    <!--<i class="dropdown icon"></i>-->
                    <!--Sub Menu-->
                    <!--<div class="left menu">-->
                        <!--<a class="item" href="#">Link Item</a>-->
                        <!--<a class="item" href="#">Link Item</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="item" href="#">Link Item</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="ui simple dropdown item">-->
            <!--<span class="text">Menu</span>-->
            <!--<i class="dropdown icon"></i>-->
            <!--<div class="menu">-->
                <!--<div class="item">-->
                    <!--<i class="left dropdown icon"></i>-->
                    <!--<span class="text">Left</span>-->
                    <!--<div class="left menu">-->
                        <!--<div class="item">1</div>-->
                        <!--<div class="item">2</div>-->
                        <!--<div class="item">3</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<i class="dropdown icon"></i>-->
                    <!--<span class="text">Right</span>-->
                    <!--<div class="right menu">-->
                        <!--<div class="item">1</div>-->
                        <!--<div class="item">2</div>-->
                        <!--<div class="item">3</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="right menu">-->
            <!--<a class="toc item">-->
                <!--<i class="sidebar icon"></i>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</div>