<div class="ui segments">
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <h2 class="ui header">
                    <div class="content">
                        {{project.code}}
                        <div class="sub header">{{project.description}}</div>
                    </div>
                </h2>
            </div>
            <div class="four wide column">
                <div class="ui right labeled button" tabindex="0">
                    <div class="add-task-btn ui blue button" ng-click="addTask()">
                        <i class="plus icon"></i> Add Task
                    </div>
                    <a class="ui basic blue left pointing label">
                        {{project.tasks?project.tasks.length:0}} tasks
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="taskList" class="ui segment task-item-tab-content">
        <task-cards tasks="tasks"></task-cards>
    </div>
</div>

<div id="addTaskModal" class="ui modal">
    <div class="header">Add Task</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Name</label>
                <input name="name" type="text" ng-model="newTask.name">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="description" ng-model="newTask.description"></textarea>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Start date</label>
                    <div class="ui calendar" id="taskStart">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="Start" ng-model="newTask.start" id="txtTaskStart">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>End date</label>
                    <div class="ui calendar" id="taskEnd">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="End" ng-model="newTask.end" id="txtTaskEnd">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="taskSubmitLoader" class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button">Submit</div>
        <div class="ui cancel button">Cancel</div>
    </div>
</div>