<div class="ui segments">
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <h2 class="ui header">
                    <div class="content">
                        {{project.code}}
                        <div class="sub header">{{project.description}}</div>
                    </div>
                </h2>
            </div>
            <div class="four wide column">
                <h2 class="ui header">
                    <img src="/images/avatar2/large/patrick.png" class="ui circular image">
                    Patrick
                </h2>
            </div>
        </div>
    </div>
    <div id="taskList" class="ui segment task-item-tab-content">
        <task-cards tasks="tasks"></task-cards>
    </div>
</div>