<div class="ui segments">
    <div class="ui segment">
        <div class="ui grid">
            <div class="ten wide column">
                <h2 class="ui header">
                    <i class="cube icon"></i>
                    <div class="content">
                        {{task.code}}
                        <div class="sub header">{{task.name}}</div>
                    </div>
                </h2>
            </div>
            <!--<div class="six wide right aligned column">-->
            <!--<h3 class="ui header">-->
            <!--<img src="img/female1.png">-->
            <!--<div class="content">-->
            <!--{{task.assignee.name}}-->
            <!--<div class="sub header">{{task.assignee.email}}</div>-->
            <!--</div>-->
            <!--</h3>-->
            <!--</div>-->
        </div>
    </div>
    <!--<div class="ui segment">-->
    <!--<div class="ui grid">-->
    <!--<div class="eight wide column">-->
    <!--<p><strong>Start Date: </strong>{{task.startDate}}</p>-->
    <!--<p><strong>End Date: </strong>{{task.endDate}}</p>-->
    <!--</div>-->
    <!--<div class="eight wide column">-->
    <!--<div class="ui right floated button">{{task.status}}</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="ui segment">
        <div class="ui three item menu">
            <div ui-sref="task.description" ui-sref-active="active" class="active item">Description</div>
            <div ui-sref="task.history" ui-sref-active="active" class="item">History</div>
            <div ui-sref="task.timetrack" ui-sref-active="active" class="item">Time Tracking</div>
        </div>
    </div>
    <div class="ui segment task-item-tab-content">
        <div class="ui grid">
            <div class="ui five wide column">
                <table class="ui blue table">
                    <thead>
                    <tr>
                        <th colspan="2">
                            Properties
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Start Date: </strong></td>
                        <td>
                            <div class="ui grid">
                                <div class="ten wide column">
                                    <p class="task-start-date">{{task.startDate}}</p>
                                </div>
                                <div class="six wide column">
                                    <div class="ui calendar" id="startDate">
                                        <div class="ui mini button">
                                            <i class="calendar icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>End Date: </strong></td>
                        <td>
                            <div class="ui grid">
                                <div class="ten wide column">
                                    <p class="task-end-date"> {{task.endDate}}</p>
                                </div>
                                <div class="six wide column">
                                    <div class="ui calendar" id="endDate">
                                        <div class="ui mini button">
                                            <i class="calendar icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Workflow Status: </strong></td>
                        <td>
                            <div data-value="{{task.status}}" class="ui fluid dropdown button task-status"
                                 ng-class="buttonColor">
                                <span class="text">{{task.statusLabel}}</span>
                                <div class="menu">
                                    <div data-value="BACKLOG" class="gray item">
                                        Pending
                                    </div>
                                    <div data-value="IN_PROGRESS" class="blue item">
                                        Started
                                    </div>
                                    <div data-value="DONE" class="green item">
                                        Completed
                                    </div>
                                    <div data-value="OBSOLETE" class="red item">
                                        Obsolete
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Assignee: </strong></td>
                        <td>
                            <a class="ui image label">
                                <img src="img/female1.png">
                                {{task.assignee.email}}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui eleven wide column">
                <ui-view>
            </div>
        </div>

    </div>
</div>