<div class="ui segments">
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <h2 class="ui header">
                    <div class="content">
                        Plug-ins
                        <div class="sub header">Check out our plug-in marketplace</div>
                    </div>
                </h2>
            </div>
            <div class="four wide column">
                <h2 class="ui header">
                    <img src="/images/avatar2/large/patrick.png" class="ui circular image">
                    Patrick
                </h2>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="eight wide column">
                Tanggalan
            </div>
            <div class="eight wide column">
                status label
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui three item menu">
            <div class="active item">Tab</div>
            <div class="item">Tab</div>
            <div class="item">Tab</div>
        </div>
        tab -> desc history time tracking
    </div>
    <div class="ui segment task-item-tab-content">
        <ui-view>
    </div>
</div>