@import "../vendors/semantic/semantic.min.css";

.main-content {
  padding: 40px 0 30px 0;
}

.task-item-tab-content {
  min-height: 600px;
}
.task-item {
   .description {
     min-width: 250px;
     max-width: 600px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
   }
 }

.msb.item {
  display: none !important;
}

@media only screen and (max-width: 700px) {
  .main-header .item {
    display: none !important;
  }

  .msb.item, .toc.item {
    display: block !important;
  }
}